.photo-grid__list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  list-style: none;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    gap: 14px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    gap: 12px;
  }
}

