.lead__title {
  max-width: 720px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.042;
  text-align: center;
  align-self: center;
  color: #FFFFFF;
  margin: 0 auto 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 12vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
