.intro {
  max-width: 984px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin: 92px auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - 48px);
    margin: 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: calc(100% - 32px);
    margin: 64px auto;
  }
}